@{
	ViewBag.HeaderTitle = "About as";

}
							<!--begin::Content-->
							<div id="kt_app_content" class="app-content pb-0">
								<!--begin::About main-->
								<div class="d-flex flex-column flex-xl-row">
									<!--begin::Content-->
									<div class="card bg-body me-9 pb-lg-18">
										<div class="card-body pb-lg-20">
											<!--begin::Blog-->
											<div class="mb-13">
												<!--begin::Title-->
												<div class="mb-9">
													<h3 class="fs-2qx fw-bold text-dark">About KeenThemes</h3>
													<span class="fs-5 fw-semibold text-gray-400">Save thousands to millions of bucks by using tool great skills</span>
												</div>
												<!--end::Title-->
												<!--begin::Wrapper-->
												<div class="overlay mb-11">
													<!--begin::Image-->
													<div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-325px" style="background-image:url('assets/media/stock/1600x800/img-3.jpg')"></div>
													<!--end::Image-->
													<!--begin::Links-->
													<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
														<a href="../dist/pages/contact.html" class="btn btn-primary">Contact Us</a>
														<a href="../dist/pages/careers/apply.html" class="btn btn-light-primary ms-3">Join Us</a>
													</div>
													<!--end::Links-->
												</div>
												<!--end::Wrapper-->
												<!--begin::Section-->
												<div class="fs-5 fw-semibold text-gray-600 mt-4">
													<!--begin::Text-->
													<p class="mb-8">
														First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words per minute and your writing skills are sharp. From the seed of the idea to finally hitting “Publish,” you might spend several days or maybe even a week “writing” a blog post, but it’s important to spend those vital hours planning your post and even thinking about
														<a href="#" class="link-primary pe-1">Your Post</a>(yes, thinking counts as working if you’re a blogger) before you actually write it.
													</p>
													<!--end::Text-->
													<!--begin::Text-->
													<p class="m-0">
														Before you do any of the following steps, be sure to pick a topic that actually interests you. Nothing – and
														<a href="../dist/pages/blog/home.html" class="link-primary pe-1">I mean NOTHING</a>– will kill a blog post more effectively than a lack of enthusiasm from the writer. You can tell when a writer is bored by their subject, and it’s so cringe-worthy it’s a little embarrassing.
													</p>
													<!--end::Text-->
												</div>
												<!--end::Section-->
											</div>
											<!--end::Blog-->
											<!--begin::Row-->
											<div class="row align-items-center mb-10">
												<!--begin::Col-->
												<div class="col-xl-5">
													<img src="assets/media/product/1.svg" class="mw-100 me-15" alt="" />
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-xl-7">
													<!--begin::Item-->
													<div class="d-flex align-items-center mb-6">
														<!--begin::Symbol-->
														<div class="symbol symbol-50px me-5 me-lg-9">
															<span class="symbol-label bg-light">
																<i class="ki-duotone ki-timer fs-2x text-info">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																</i>
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Text-->
														<div class="d-flex flex-column">
															<a href="#" class="text-dark text-hover-primary fs-4 fw-bold mb-1">This is by far the cleanest template</a>
															<span class="text-gray-700 fw-semibold fs-6">The most well thought out design theme.</span>
														</div>
														<!--end::Text-->
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="d-flex align-items-center mb-6">
														<!--begin::Symbol-->
														<div class="symbol symbol-50px me-5 me-lg-9">
															<span class="symbol-label bg-light">
																<i class="ki-duotone ki-abstract-25 fs-2x text-danger">
																	<span class="path1"></span>
																	<span class="path2"></span>
																</i>
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Text-->
														<div class="d-flex flex-column">
															<a href="#" class="text-dark text-hover-primary fs-4 fw-bold mb-1">Keep All Your Sentences Short</a>
															<span class="text-gray-700 fw-semibold fs-6">Before you do any of the following steps.</span>
														</div>
														<!--end::Text-->
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-50px me-5 me-lg-9">
															<span class="symbol-label bg-light">
																<i class="ki-duotone ki-abstract-35 fs-2x text-primary">
																	<span class="path1"></span>
																	<span class="path2"></span>
																</i>
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Text-->
														<div class="d-flex flex-column">
															<a href="#" class="text-dark text-hover-primary fs-4 fw-bold mb-1">How to Write a Blog Post</a>
															<span class="text-gray-700 fw-semibold fs-6">The css styles are amazingly.</span>
														</div>
														<!--end::Text-->
													</div>
													<!--end::Item-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
											<!--begin::Team-->
											<div class="m-0">
												<!--begin::Heading-->
												<div class="mb-9">
													<!--begin::Title-->
													<h1 class="fw-bold text-dark mb-3">Our Great Team</h1>
													<!--begin::Title-->
													<!--begin::Description-->
													<span class="fs-5 fw-semibold text-muted">Save thousands to millions of bucks by using single tool for different amazing and great useful admin</span>
													<!--begin::Description-->
												</div>
												<!--end::Heading-->
												<!--begin::Members-->
												<div class="d-flex flex-wrap w-100 mw-xxl-800px">
													<!--begin::Member-->
													<div class="d-flex flex-column text-center mb-11 me-5 me-lg-15">
														<!--begin::Photo-->
														<div class="symbol symbol-100px symbol-lg-150px mb-4">
															<img src="assets/media/avatars/300-11.jpg" class="" alt="" />
														</div>
														<!--end::Photo-->
														<!--begin::Info-->
														<div class="text-center">
															<!--begin::Info-->
															<a href="../dist/pages/user-profile/overview.html" class="text-dark fw-bold text-hover-primary fs-4">Paul Miles</a>
															<!--end::Info-->
															<!--begin::Position-->
															<span class="text-muted d-block fw-semibold">Development Lead</span>
															<!--end::Position-->
														</div>
														<!--end::Info-->
													</div>
													<!--end::Member-->
													<!--begin::Member-->
													<div class="d-flex flex-column text-center mb-11 me-5 me-lg-15">
														<!--begin::Photo-->
														<div class="symbol symbol-100px symbol-lg-150px mb-4">
															<img src="assets/media/avatars/300-2.jpg" class="" alt="" />
														</div>
														<!--end::Photo-->
														<!--begin::Info-->
														<div class="text-center">
															<!--begin::Info-->
															<a href="../dist/pages/user-profile/overview.html" class="text-dark fw-bold text-hover-primary fs-4">Melisa Marcus</a>
															<!--end::Info-->
															<!--begin::Position-->
															<span class="text-muted d-block fw-semibold">Creative Head</span>
															<!--end::Position-->
														</div>
														<!--end::Info-->
													</div>
													<!--end::Member-->
													<!--begin::Member-->
													<div class="d-flex flex-column text-center mb-11 me-5 me-lg-15">
														<!--begin::Photo-->
														<div class="symbol symbol-100px symbol-lg-150px mb-4">
															<img src="assets/media/avatars/300-5.jpg" class="" alt="" />
														</div>
														<!--end::Photo-->
														<!--begin::Info-->
														<div class="text-center">
															<!--begin::Info-->
															<a href="../dist/pages/user-profile/overview.html" class="text-dark fw-bold text-hover-primary fs-4">James Nilson</a>
															<!--end::Info-->
															<!--begin::Position-->
															<span class="text-muted d-block fw-semibold">Python Expert</span>
															<!--end::Position-->
														</div>
														<!--end::Info-->
													</div>
													<!--end::Member-->
													<!--begin::Member-->
													<div class="d-flex flex-column text-center mb-11 me-5 me-lg-15">
														<!--begin::Photo-->
														<div class="symbol symbol-100px symbol-lg-150px mb-4">
															<img src="assets/media/avatars/300-24.jpg" class="" alt="" />
														</div>
														<!--end::Photo-->
														<!--begin::Info-->
														<div class="text-center">
															<!--begin::Info-->
															<a href="../dist/pages/user-profile/overview.html" class="text-dark fw-bold text-hover-primary fs-4">Arlene McCoy</a>
															<!--end::Info-->
															<!--begin::Position-->
															<span class="text-muted d-block fw-semibold">Python Expert</span>
															<!--end::Position-->
														</div>
														<!--end::Info-->
													</div>
													<!--end::Member-->
												</div>
												<!--end::Members-->
											</div>
											<!--end::Team-->
											<!--begin::Team info-->
											<div class="fs-4 fw-semibold text-gray-600 mb-10">
												First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words per minute and your writing skills are sharp. From the seed of the idea to finally hitting “Publish,” you might spend several days or maybe even a week “writing” a blog post, but it’s important to spend those vital hours planning your post and even thinking about
												<a href="#" class="link-primary pe-1">Your Post</a>(yes, thinking counts as working if you’re a blogger) before you actually write it.
											</div>
											<!--end::Team info-->
											<!--begin::Post-->
											<div class="row align-items-center mb-10">
												<!--begin::Wrapper-->
												<div class="col-lg-7">
													<!--begin::Content-->
													<div class="mb-5 position-relative z-index-3">
														<!--begin::Wrapper-->
														<div class="mb-6">
															<!--begin::Title-->
															<h1 class="fw-bold text-gray-900 fw-bold lh-base">
																Writing a Great Headline
																<br />Write an Outline For Your Post
															</h1>
															<!--end::Title-->
														</div>
														<!--end::Wrapper-->
														<!--begin::Text-->
														<span class="text-gray-700 d-block fw-semibold fs-4 pb-4 lh-lg">The most well thought out design theme I have ever used. The codes are up to tandard. The css styles are amazingly very clean. In fact the cleanest and the most up to standard I have ever seen.</span>
														<!--end::Text-->
														<!--begin::Text-->
														<span class="text-gray-700 fw-semibold fs-4 lh-lg">In fact the cleanest and the most up to standard codes are up to tandard. The css styles are amazingly very clean.</span>
														<!--end::Text-->
													</div>
													<!--end::Content-->
													<!--begin::Item-->
													<div class="d-flex position-relative z-index-3">
														<!--begin::Item-->
														<div class="me-lg-19 me-7">
															<div class="text-dark fw-semibold fs-1">
																<span class="m-0" data-kt-countup="true" data-kt-countup-value="100">0</span>%
															</div>
															<span class="text-gray-700 d-block fw-semibold fs-4">Satisfication</span>
														</div>
														<!--end::Item-->
														<!--begin::Item-->
														<div class="me-lg-19 me-7">
															<div class="text-dark fw-semibold fs-1">
																<span class="m-0" data-kt-countup="true" data-kt-countup-value="124">0</span>K
															</div>
															<span class="text-gray-700 d-block fw-semibold fs-4">Customers</span>
														</div>
														<!--end::Item-->
														<!--begin::Item-->
														<div class="me-lg-19 me-7">
															<div class="text-dark fw-semibold fs-1">
																<span class="m-0" data-kt-countup="true" data-kt-countup-value="24" data-kt-countup-prefix="$">0</span>K
															</div>
															<span class="text-gray-700 d-block fw-semibold fs-4">Transactions</span>
														</div>
														<!--end::Item-->
													</div>
													<!--end::Item-->
												</div>
												<!--end::Wrapper-->
												<!--begin::Item-->
												<div class="col-lg-5">
													<!--begin::Image-->
													<img src="assets/media/svg/illustrations/easy/4.svg" class="w-175px mb-10" alt="" />
													<!--end::Image-->
													<!--begin::Action-->
													<div class="ps-13"></div>
													<!--end::Action-->
												</div>
												<!--end::Item-->
											</div>
											<!--end::Post-->
											<!--begin::Social links-->
											<div class="card border-0 bg-light text-center">
												<!--begin::Body-->
												<div class="card-body py-8">
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/instagram-2016.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
													<!--begin::Icon-->
													<a href="#" class="mx-4">
														<img src="assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2" alt="" />
													</a>
													<!--end::Icon-->
												</div>
												<!--end::Body-->
											</div>
											<!--end::Social links-->
										</div>
									</div>
									<!--end::Content-->
									<!--begin::Sidebar-->
									<div class="flex-column flex-lg-row-auto w-100 w-xl-350px">
										<!--begin::Careers about-->
										<div class="card card-flush bg-body mb-9">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Top-->
												<div class="mb-7">
													<!--begin::Title-->
													<h2 class="fs-1 text-gray-800 w-bolder mb-6">Careers</h2>
													<!--end::Title-->
													<!--begin::Text-->
													<p class="fw-semibold fs-6 text-gray-600">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</p>
													<!--end::Text-->
												</div>
												<!--end::Top-->
												<!--begin::Items-->
												<div class="mb-0">
													<!--begin::Item-->
													<div class="mb-8">
														<!--begin::Title-->
														<h4 class="text-gray-700 w-bolder mb-0">Requirements</h4>
														<!--end::Title-->
														<!--begin::Section-->
														<div class="my-2">
															<!--begin::Row-->
															<div class="d-flex align-items-center mb-3">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Experience with JavaScript</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
															<!--begin::Row-->
															<div class="d-flex align-items-center mb-3">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Good time-management skills</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
															<!--begin::Row-->
															<div class="d-flex align-items-center mb-3">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Experience with React</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
															<!--begin::Row-->
															<div class="d-flex align-items-center">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Experience with HTML / CSS</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
														</div>
														<!--end::Section-->
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="mb-8">
														<!--begin::Title-->
														<h4 class="text-gray-700 w-bolder mb-0">Our Achievements</h4>
														<!--end::Title-->
														<!--begin::Section-->
														<div class="my-2">
															<!--begin::Row-->
															<div class="d-flex align-items-center mb-3">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Experience with JavaScript</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
															<!--begin::Row-->
															<div class="d-flex align-items-center mb-3">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Good time-management skills</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
															<!--begin::Row-->
															<div class="d-flex align-items-center">
																<!--begin::Bullet-->
																<span class="bullet me-3"></span>
																<!--end::Bullet-->
																<!--begin::Label-->
																<div class="text-gray-600 fw-semibold fs-6">Experience with React</div>
																<!--end::Label-->
															</div>
															<!--end::Row-->
														</div>
														<!--end::Section-->
													</div>
													<!--end::Item-->
												</div>
												<!--end::Items-->
												<!--begin::Link-->
												<a href="../dist/pages/careers/list.html" class="link-primary fs-6 fw-semibold">Explore More</a>
												<!--end::Link-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Careers about-->
										<!--begin::Recent posts-->
										<div class="card card-flush bg-body mb-9">
											<!--begin::Card header-->
											<div class="card-header">
												<h4 class="card-title fw-bold text-gray-800 fs-2">Recent from Blog</h4>
											</div>
											<!--end::Card header-->
											<!--begin::Card body-->
											<div class="card-body pt-2">
												<!--begin::Item-->
												<div class="d-flex align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 me-4">
														<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-79.jpg')"></div>
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="m-0">
														<a href="#" class="text-dark fw-bold text-hover-primary fs-6">About Bootstrap Admin</a>
														<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 me-4">
														<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-19.jpg')"></div>
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="m-0">
														<a href="#" class="text-dark fw-bold text-hover-primary fs-6">A yellow sofa</a>
														<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex align-items-center mb-7">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 me-4">
														<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-72.jpg')"></div>
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="m-0">
														<a href="#" class="text-dark fw-bold text-hover-primary fs-6">Our Camra Mega Set</a>
														<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Item-->
												<div class="d-flex align-items-center">
													<!--begin::Symbol-->
													<div class="symbol symbol-60px symbol-2by3 me-4">
														<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-50.jpg')"></div>
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="m-0">
														<a href="#" class="text-dark fw-bold text-hover-primary fs-6">Time to cook and eat?</a>
														<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<!--begin::Link-->
												<a href="../dist/pages/blog/home.html" class="text-primary opacity-75-hover pt-8 fs-6 fw-semibold d-block">Explore More</a>
												<!--end::Link-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Recent posts-->
										<!--begin::Connected-->
										<div class="card card-flush bg-body">
											<!--begin::Card header-->
											<div class="card-header">
												<h4 class="card-title fw-bold text-text-gray-800 fs-2">Stay Connected</h4>
											</div>
											<!--end::Card header-->
											<!--begin::Card body-->
											<div class="card-body pt-2">
												<!--begin::Items-->
												<div class="mb-6">
													<!--begin::Link-->
													<a href="#" class="mb-6">
														<img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-20px me-2" alt="" />
														<span class="text-gray-700 text-hover-primary fs-5 mb-6">Facebook</span>
													</a>
													<!--end::Link-->
												</div>
												<!--begin::Items-->
												<!--begin::Items-->
												<div class="mb-6">
													<!--begin::Link-->
													<a href="#" class="mb-6">
														<img src="assets/media/svg/brand-logos/github.svg" class="h-20px me-2" alt="" />
														<span class="text-gray-700 text-hover-primary fs-5 mb-6">Github</span>
													</a>
													<!--end::Link-->
												</div>
												<!--begin::Items-->
												<!--begin::Items-->
												<div class="mb-6">
													<!--begin::Link-->
													<a href="#" class="mb-6">
														<img src="assets/media/svg/brand-logos/twitter.svg" class="h-20px me-2" alt="" />
														<span class="text-gray-700 text-hover-primary fs-5 mb-6">Twitter</span>
													</a>
													<!--end::Link-->
												</div>
												<!--begin::Items-->
												<!--begin::Items-->
												<div class="mb-6">
													<!--begin::Link-->
													<a href="#" class="mb-6">
														<img src="assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-20px me-2" alt="" />
														<span class="text-gray-700 text-hover-primary fs-5 mb-6">Dribbble</span>
													</a>
													<!--end::Link-->
												</div>
												<!--begin::Items-->
												<!--begin::Items-->
												<div class="">
													<!--begin::Link-->
													<a href="#" class="mb-6">
														<img src="assets/media/svg/brand-logos/instagram-2016.svg" class="h-20px me-2" alt="" />
														<span class="text-gray-700 text-hover-primary fs-5 mb-6">Instagram</span>
													</a>
													<!--end::Link-->
												</div>
												<!--begin::Items-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Connected-->
									</div>
									<!--end::Sidebar-->
								</div>
								<!--end::About main-->
							</div>
							<!--end::Content-->
					