@{
	ViewBag.HeaderTitle = "FAQ Page";

}
<!--begin::Content-->
<div id="kt_app_content" class="app-content pb-0">
	<!--begin::Faq main-->
	<div class="d-flex flex-column flex-xl-row">
		<!--begin::Content-->
		<div class="card bg-body mb-9 mb-xl-0 me-lg-9">
			<div class="card-body">
				<!--begin::Faq content-->
				<div class="m-0">
					<!--begin::Intro-->
					<div class="mb-9">
						<!--begin::Title-->
						<h4 class="fs-2qx text-gray-800 w-bolder mb-6">Good Admin FAQ</h4>
						<!--end::Title-->
						<!--begin::Text-->
						<p class="fs-5 fw-semibold text-gray-400">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</p>
						<!--end::Text-->
					</div>
					<!--end::Intro-->
					<!--begin::Items-->
					<div class="m-0">
						<!--begin::Item-->
						<div class="mb-12">
							<!--begin::Title-->
							<h3 class="text-gray-800 fw-bold mb-2">Good Installation Guide</h3>
							<!--end::Title-->
							<!--begin::Accordion-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_1_1">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">What platforms are compatible?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_1_1" class="collapse show fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_1_2">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How many people can it support?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_1_2" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_1_3">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How long is the warrianty?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_1_3" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_1_4">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How fast is the installation?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_1_4" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Section-->
							<!--end::Accordion-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="mb-12">
							<!--begin::Title-->
							<h3 class="text-gray-800 fw-bold mb-4">Reports Generation</h3>
							<!--end::Title-->
							<!--begin::Accordion-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_2_1">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">What platforms are compatible?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_2_1" class="collapse show fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_2_2">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How many people can it support?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_2_2" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_2_3">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How long is the warrianty?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_2_3" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_2_4">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How fast is the installation?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_2_4" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Section-->
							<!--end::Accordion-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="m-0">
							<!--begin::Title-->
							<h3 class="text-gray-800 fw-bold mb-4">Do I need a designer to use an Admin Template ?</h3>
							<!--end::Title-->
							<!--begin::Accordion-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_3_1">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">What platforms are compatible?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_3_1" class="collapse show fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_3_2">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How many people can it support?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_3_2" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_3_3">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How long is the warrianty?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_3_3" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
								<!--begin::Separator-->
								<div class="separator separator-dashed"></div>
								<!--end::Separator-->
							</div>
							<!--end::Section-->
							<!--begin::Section-->
							<div class="m-0">
								<!--begin::Heading-->
								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_3_4">
									<!--begin::Icon-->
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<i class="ki-duotone ki-minus-square toggle-on text-primary fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
										</i>
										<i class="ki-duotone ki-plus-square toggle-off fs-1">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</div>
									<!--end::Icon-->
									<!--begin::Title-->
									<h4 class="text-gray-700 fw-bold cursor-pointer mb-0">How fast is the installation?</h4>
									<!--end::Title-->
								</div>
								<!--end::Heading-->
								<!--begin::Body-->
								<div id="kt_job_3_4" class="collapse fs-6 ms-1">
									<!--begin::Text-->
									<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
									<!--end::Text-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Section-->
							<!--end::Accordion-->
						</div>
						<!--end::Item-->
					</div>
					<!--end::Items-->
				</div>
				<!--end::Faq content-->
			</div>
		</div>
		<!--end::Content-->
		<!--begin::Sidebar-->
		<div class="flex-column flex-lg-row-auto w-100 w-xl-350px">
			<!--begin::Careers about-->
			<div class="card card-flush bg-body mb-9">
				<!--begin::Body-->
				<div class="card-body">
					<!--begin::Top-->
					<div class="mb-7">
						<!--begin::Title-->
						<h2 class="fs-1 text-gray-800 w-bolder mb-6">Careers</h2>
						<!--end::Title-->
						<!--begin::Text-->
						<p class="fw-semibold fs-6 text-gray-600">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</p>
						<!--end::Text-->
					</div>
					<!--end::Top-->
					<!--begin::Items-->
					<div class="mb-0">
						<!--begin::Item-->
						<div class="mb-8">
							<!--begin::Title-->
							<h4 class="text-gray-700 w-bolder mb-0">Requirements</h4>
							<!--end::Title-->
							<!--begin::Section-->
							<div class="my-2">
								<!--begin::Row-->
								<div class="d-flex align-items-center mb-3">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Experience with JavaScript</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="d-flex align-items-center mb-3">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Good time-management skills</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="d-flex align-items-center mb-3">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Experience with React</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="d-flex align-items-center">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Experience with HTML / CSS</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="mb-8">
							<!--begin::Title-->
							<h4 class="text-gray-700 w-bolder mb-0">Our Achievements</h4>
							<!--end::Title-->
							<!--begin::Section-->
							<div class="my-2">
								<!--begin::Row-->
								<div class="d-flex align-items-center mb-3">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Experience with JavaScript</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="d-flex align-items-center mb-3">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Good time-management skills</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="d-flex align-items-center">
									<!--begin::Bullet-->
									<span class="bullet me-3"></span>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-600 fw-semibold fs-6">Experience with React</div>
									<!--end::Label-->
								</div>
								<!--end::Row-->
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
					</div>
					<!--end::Items-->
					<!--begin::Link-->
					<a href="../dist/pages/careers/list.html" class="link-primary fs-6 fw-semibold">Explore More</a>
					<!--end::Link-->
				</div>
				<!--end::Body-->
			</div>
			<!--end::Careers about-->
			<!--begin::Recent posts-->
			<div class="card card-flush bg-body mb-9">
				<!--begin::Card header-->
				<div class="card-header">
					<h4 class="card-title fw-bold text-gray-800 fs-2">Recent from Blog</h4>
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-2">
					<!--begin::Item-->
					<div class="d-flex align-items-center mb-7">
						<!--begin::Symbol-->
						<div class="symbol symbol-60px symbol-2by3 me-4">
							<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-79.jpg')"></div>
						</div>
						<!--end::Symbol-->
						<!--begin::Title-->
						<div class="m-0">
							<a href="#" class="text-dark fw-bold text-hover-primary fs-6">About Bootstrap Admin</a>
							<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
						</div>
						<!--end::Title-->
					</div>
					<!--end::Item-->
					<!--begin::Item-->
					<div class="d-flex align-items-center mb-7">
						<!--begin::Symbol-->
						<div class="symbol symbol-60px symbol-2by3 me-4">
							<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-19.jpg')"></div>
						</div>
						<!--end::Symbol-->
						<!--begin::Title-->
						<div class="m-0">
							<a href="#" class="text-dark fw-bold text-hover-primary fs-6">A yellow sofa</a>
							<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
						</div>
						<!--end::Title-->
					</div>
					<!--end::Item-->
					<!--begin::Item-->
					<div class="d-flex align-items-center mb-7">
						<!--begin::Symbol-->
						<div class="symbol symbol-60px symbol-2by3 me-4">
							<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-72.jpg')"></div>
						</div>
						<!--end::Symbol-->
						<!--begin::Title-->
						<div class="m-0">
							<a href="#" class="text-dark fw-bold text-hover-primary fs-6">Our Camra Mega Set</a>
							<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
						</div>
						<!--end::Title-->
					</div>
					<!--end::Item-->
					<!--begin::Item-->
					<div class="d-flex align-items-center">
						<!--begin::Symbol-->
						<div class="symbol symbol-60px symbol-2by3 me-4">
							<div class="symbol-label" style="background-image: url('assets/media/stock/600x400/img-50.jpg')"></div>
						</div>
						<!--end::Symbol-->
						<!--begin::Title-->
						<div class="m-0">
							<a href="#" class="text-dark fw-bold text-hover-primary fs-6">Time to cook and eat?</a>
							<span class="text-gray-600 fw-semibold d-block pt-1 fs-8">We’ve been a focused on making a the sky</span>
						</div>
						<!--end::Title-->
					</div>
					<!--end::Item-->
					<!--begin::Link-->
					<a href="../dist/pages/blog/home.html" class="text-primary opacity-75-hover pt-8 fs-6 fw-semibold d-block">Explore More</a>
					<!--end::Link-->
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Recent posts-->
			<!--begin::Connected-->
			<div class="card card-flush bg-body">
				<!--begin::Card header-->
				<div class="card-header">
					<h4 class="card-title fw-bold text-text-gray-800 fs-2">Stay Connected</h4>
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body pt-2">
					<!--begin::Items-->
					<div class="mb-6">
						<!--begin::Link-->
						<a href="#" class="mb-6">
							<img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-20px me-2" alt="" />
							<span class="text-gray-700 text-hover-primary fs-5 mb-6">Facebook</span>
						</a>
						<!--end::Link-->
					</div>
					<!--begin::Items-->
					<!--begin::Items-->
					<div class="mb-6">
						<!--begin::Link-->
						<a href="#" class="mb-6">
							<img src="assets/media/svg/brand-logos/github.svg" class="h-20px me-2" alt="" />
							<span class="text-gray-700 text-hover-primary fs-5 mb-6">Github</span>
						</a>
						<!--end::Link-->
					</div>
					<!--begin::Items-->
					<!--begin::Items-->
					<div class="mb-6">
						<!--begin::Link-->
						<a href="#" class="mb-6">
							<img src="assets/media/svg/brand-logos/twitter.svg" class="h-20px me-2" alt="" />
							<span class="text-gray-700 text-hover-primary fs-5 mb-6">Twitter</span>
						</a>
						<!--end::Link-->
					</div>
					<!--begin::Items-->
					<!--begin::Items-->
					<div class="mb-6">
						<!--begin::Link-->
						<a href="#" class="mb-6">
							<img src="assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-20px me-2" alt="" />
							<span class="text-gray-700 text-hover-primary fs-5 mb-6">Dribbble</span>
						</a>
						<!--end::Link-->
					</div>
					<!--begin::Items-->
					<!--begin::Items-->
					<div class="">
						<!--begin::Link-->
						<a href="#" class="mb-6">
							<img src="assets/media/svg/brand-logos/instagram-2016.svg" class="h-20px me-2" alt="" />
							<span class="text-gray-700 text-hover-primary fs-5 mb-6">Instagram</span>
						</a>
						<!--end::Link-->
					</div>
					<!--begin::Items-->
				</div>
				<!--end::Card body-->
			</div>
			<!--end::Connected-->
		</div>
		<!--end::Sidebar-->
	</div>
	<!--end::Faq main-->
</div>
<!--end::Content-->